extends layout

block content
    h1= 'draw a ' + imagetag 
    input(type="hidden", id="class" value="" + imagetag) 
    canvas(id="drawing_canvas" width="500px" height="500px")
    button(type="submit" id="submitButton") submit

    a(href="/") Back