doctype html
html(lang='en')
  head
    title='DrawnnGuess'
    //link(rel='stylesheet', href='/stylesheets/style.css')
    style='canvas{border: 1px solid black}'
  body
    block content
    script(src="javascripts/draw_client.js")
